body {
    overflow: hidden;
    background-color: #0e1111;
}
#block {
    position: absolute;
    top:25px;
    left:10px;
    width:25px;
    height:125px;
    background-color:#e6ffff;
    border-radius: 10px;
}

#block_r {
    position: absolute;
    top:25px;
    width:25px;
    height:125px;
    background-color: #e6ffff;
    border-radius: 10px;
}
#ball {
    position: absolute;
    left:50.7vw;
    top:47vh;
    width:12px;
    height:12px;
    background-color: #e6ffff;
    border-radius: 360px;
}
#score {
    position: absolute;
    top: -25px;
    color: ghostwhite;
    width: 100px;
    height: 100px;
    z-index:999;
    font-size:15vh;
    font-family:square;
    left:-10vh;
}
#score_r {
    position: absolute;
    top: -25px;
    color: ghostwhite;
    width: 100px;
    height: 100px;
    z-index:999;
    font-size:15vh;
    font-family:square;
    left:1.5vh;
}
#fix_1 {
    position: absolute;
    left:51vw;
}
@font-face {
    font-family:square;
    src: url("Square.ttf");
}
#divider {
    position: absolute;
    height: 97.5vh;
    width: 2px;
    background-color: #e6ffff;
    left: 51vw;
    opacity:.35;
}
